{
  "openapi": "3.0.0",
  "info": {
    "title": "TaskMeow API for Microsoft Copilot",
    "description": "Task management API for managing personal to-do lists via Microsoft 365 Copilot",
    "version": "1.0.0",
    "contact": {
      "email": "support@taskmeow.com"
    }
  },
  "servers": [
    {
      "url": "https://taskmeow.com/mcp",
      "description": "TaskMeow MCP Server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": [
        "api://taskmeow.com/botid-36b1586d-b1da-45d2-9b32-899c3757b6f8/access_as_user"
      ]
    }
  ],
  "paths": {
    "/tools/call": {
      "post": {
        "summary": "Call MCP Tool",
        "description": "Execute an MCP tool via JSON-RPC 2.0 protocol",
        "operationId": "callTool",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authenticating requests to the MCP server"
      },
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {
              "api://taskmeow.com/botid-36b1586d-b1da-45d2-9b32-899c3757b6f8/access_as_user": "Access TaskMeow API",
              "user.read": "Read user profile",
              "email": "Read user email",
              "openid": "Authenticate using OpenID Connect",
              "profile": "Read user profile information",
              "offline_access": "Maintain access to data you have given it access to"
            }
          }
        },
        "description": "Microsoft Entra ID SSO"
      }
    },
    "schemas": {
      "MCPRequest": {
        "type": "object",
        "required": ["jsonrpc", "method", "params", "id"],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": ["2.0"],
            "description": "JSON-RPC version"
          },
          "method": {
            "type": "string",
            "enum": ["tools/call"],
            "description": "MCP method to call"
          },
          "params": {
            "$ref": "#/components/schemas/ToolCallParams"
          },
          "id": {
            "type": "integer",
            "description": "Request identifier"
          }
        }
      },
      "ToolCallParams": {
        "type": "object",
        "required": ["name", "arguments"],
        "properties": {
          "name": {
            "type": "string",
            "enum": ["get_tasks", "create_task", "update_task", "delete_task", "get_task_widget"],
            "description": "Name of the tool to execute"
          },
          "arguments": {
            "type": "object",
            "description": "Tool-specific arguments",
            "oneOf": [
              {
                "$ref": "#/components/schemas/GetTasksArgs"
              },
              {
                "$ref": "#/components/schemas/CreateTaskArgs"
              },
              {
                "$ref": "#/components/schemas/UpdateTaskArgs"
              },
              {
                "$ref": "#/components/schemas/DeleteTaskArgs"
              },
              {
                "$ref": "#/components/schemas/GetTaskWidgetArgs"
              }
            ]
          }
        }
      },
      "GetTasksArgs": {
        "type": "object"
      },
      "CreateTaskArgs": {
        "type": "object",
        "required": ["title"],
        "properties": {
          "title": {
            "type": "string",
            "description": "Title or description of the task",
            "example": "Buy groceries"
          },
          "starred": {
            "type": "boolean",
            "description": "Whether to star the task",
            "default": false
          }
        }
      },
      "UpdateTaskArgs": {
        "type": "object",
        "required": ["taskId"],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "ID of the task to update",
            "example": "507f1f77bcf86cd799439011"
          },
          "title": {
            "type": "string",
            "description": "New title for the task"
          },
          "starred": {
            "type": "boolean",
            "description": "New starred status"
          },
          "order": {
            "type": "number",
            "description": "New display order"
          }
        }
      },
      "DeleteTaskArgs": {
        "type": "object",
        "required": ["taskId"],
        "properties": {
          "taskId": {
            "type": "string",
            "description": "ID of the task to delete",
            "example": "507f1f77bcf86cd799439011"
          }
        }
      },
      "GetTaskWidgetArgs": {
        "type": "object"
      },
      "MCPResponse": {
        "type": "object",
        "required": ["jsonrpc", "result", "id"],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": ["2.0"]
          },
          "result": {
            "type": "object",
            "properties": {
              "content": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": ["text"]
                    },
                    "text": {
                      "type": "string",
                      "description": "JSON-encoded response data"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "integer"
          }
        }
      },
      "MCPError": {
        "type": "object",
        "required": ["jsonrpc", "error", "id"],
        "properties": {
          "jsonrpc": {
            "type": "string",
            "enum": ["2.0"]
          },
          "error": {
            "type": "object",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "integer",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Error message"
              }
            }
          },
          "id": {
            "type": "integer"
          }
        }
      },
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique task identifier"
          },
          "title": {
            "type": "string",
            "description": "Task title"
          },
          "starred": {
            "type": "boolean",
            "description": "Whether task is starred"
          },
          "order": {
            "type": "number",
            "description": "Display order"
          },
          "date": {
            "type": "string",
            "format": "date-time",
            "description": "Creation timestamp"
          }
        }
      }
    }
  }
}
